<ul>
  <li>
    <%= @author.name %>
    <br>
    <%= @author.title %>
  </li>
</ul>

<%= link_to 'Edit Author', edit_author_path(@author) %>
<%= link_to 'Delete Author', author_path(@author), method: :delete %>
